*.pyc
*.root
*__pycache__*
*~
.#*
.*.swp

# We probaly do not want to push plots
*plots*
*.pdf
*.png

# Just some stuff one might have for local tests
*.bak
*debug*
*tmp*
*temp*
*log*
*misc*

soft/*

# Analysis output extension
*.coffea

Analysis/output_*
Analysis/mykytaua.cc
Analysis/runinfo
Analysis/.job_wrapper_failure

# Some specific temprory code

Analysis/jets_skims/
Analysis/mprofile_*
Analysis/outputs
Analysis/pybind11-demo
Analysis/configs/data
